
TCP_Client/.vs/TCP_Client/v16/Browse.VC.db
TCP_Client/.vs/TCP_Client/v16/Browse.VC.db-shm
TCP_Client/.vs/TCP_Client/v16/Browse.VC.db-wal
TCP_Client/.vs/TCP_Client/v16/Browse.VC.opendb
TCP_Client/.vs/TCP_Client/v16/ipch/AutoPCH/48d224589bdd49d2/TCP_CLIENT.ipch
TCP_Server/.vs/TCP_Server/v16/Browse.VC.db
TCP_Server/.vs/TCP_Server/v16/Browse.VC.db-shm
TCP_Server/.vs/TCP_Server/v16/Browse.VC.db-wal
TCP_Server/.vs/TCP_Server/v16/Browse.VC.opendb
TCP_Server/.vs/TCP_Server/v16/ipch/AutoPCH/737c9bfbb47b0a2a/TCP_SERVER.ipch
UDPClient/.vs/UDPClient/v16/Browse.VC.db
UDPClient/.vs/UDPClient/v16/Browse.VC.db-shm
UDPClient/.vs/UDPClient/v16/Browse.VC.db-wal
UDPClient/.vs/UDPClient/v16/Browse.VC.opendb
